<!DOCTYPE html>
<html lang="en">
<!-- Head Tag Include -->
<%- include("../partials/head-tag-partial.ejs") %>
<!-- Head Tag Include -->


<body>
    <div id="app">
        <!-- Header Include -->
        <%- include("../partials/header-partial.ejs") %>
        <!-- Header Include -->
        <div class="container">
            <div class="m-5 p-5 box">
                <div class="columns is-multiline">
                    <p class="is-size-2 mb-4 p-5">
                        {{ user.username }}
                    </p>
                    <div class="column is-12 p-5">
                        <p>
                            Firstname : {{ user.first_name }}
                        </p>
                        <p>
                            Lastname : {{ user.last_name }}
                        </p>
                        <p>
                            Email : {{ user.email }}
                        </p>
                        <p>
                            Role : {{ role }}
                        </p>
                        <button class="button is-primary mt-3 mb-3" @click="changeToggle = !changeToggle">Change Password</button>
                        <template v-if="user.role == 'admin'">
                            <a href="/orders-status" class="button is-primary mt-3 mb-3">Orders Status</a>
                        </template>
                        <% if (typeof message != "undefined") { %>
                            <p class="help is-danger"><%= message %></p>
                        <% } %>
                        <div class="box" v-show="changeToggle">
                            <p class="has-text-weight-bold">
                                New Password
                            </p> 
                            <form method="POST" action="/change-password">
                                <input class="input mb-3" name="password" type="password" placeholder="Input new password...">
                                <button class="button is-danger is-fullwidth">Submit Changes</button>
                            </form>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</body>

<!-- Footer Include -->
<%- include("../partials/footer-partial.ejs") %>
<!-- Footer Include -->

</html>

<script>
    var app = new Vue({
        el: "#app",
        data: {
            user: JSON.parse(`<%- userData %>`),
            cart: JSON.parse(`<%- cartData %>`),
            point: `<%- point %>`,
            changeToggle: false,
        },
        computed: {
            itemsInCart() {
                let count = 0;
                this.cart.forEach(element => {
                    count += element.quantity;
                });
                return count;
            },
            role() {
                if (this.user.role == "admin") {
                    return "Administrator";
                } else {
                    return "User";
                }
            }
        }
    });
</script>